html,
body{
width:100%;
overflow-x:hidden;
}
.poster {
  position: relative;
  z-index: 100;
}
.bg_image {
  position: relative;
  /* top: 10vw; */
  /* left: 12.5vw;
  width: 75vw; */
  top: 0vw;
  left: 0vw;
  width: 100vw;
  z-index: 2;
  height: auto;
}

#bg_img {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  z-index: 5;
}

.invitation {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: -2%;
}
.intro_div {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: -5%;
}
.intro {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: 0%;

}


.intro_img_groom {
  position: absolute;
  top: 13vw;
  left: 3vw;
  width: 40vw;
  z-index: 5;
  height: auto;
  border-radius: 30px;
}
.intro_img_bride {
  position: absolute;
  top: 101vw;
  left: 57vw;
  width: 40vw;
  z-index: 5;
  height: auto;
  border-radius: 30px;
}


.calendar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: -50%;
}

.slider-container {
    position: absolute;
    top: 10%;
    left : 11%;
    width: 78%;
    height: auto;
    overflow: hidden;
    z-index: 100;
}

.slider {
    display: flex;
    width: 500%;
    transition: transform 0.3s ease;
    z-index: 100;

}

.slide {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: lightcoral;
    color: white;
    z-index: 100;
      border-radius: 50px;
}

.slide:nth-child(2) {
    background: lightseagreen;
}

.slide:nth-child(3) {
    background: lightgoldenrodyellow;
    color: black;
}

.slide:nth-child(4) {
    background: lightblue;
}

.slide:nth-child(5) {
    background: lightpink;
}
.dots-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background 0.3s ease;
}

.dot.active {
    background: #717171;
}



.we {
  position: relative;
margin-top: -2%;
}

.wedding {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

}


.notice {
  position: relative;
}
.notice_bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: -8%;
}
.notice_map {
  position: absolute;
  top: 13.7%;
  left: 10%;
  z-index: 100;
  width: 100%;
  height: auto;
}

.contact {
  position: relative;
}
.contact_bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: -8%;
}
.icon1 {
    position: absolute;
    top : 17%;
    left : 70%;
    cursor: pointer;
    /* display: inline-block; */
    /* padding: 10px; */
    background-color: #f0f0f0;
    border-radius: 5px;
    z-index: 200;
    user-select: none;
}
.icon2 {
    position: absolute;
    top : 24.5%;
    left : 70%;
    cursor: pointer;
    /* display: inline-block; */
    /* padding: 10px; */
    background-color: #f0f0f0;
    border-radius: 5px;
    z-index: 200;
    user-select: none;
}
.icon_link {
    position: absolute;

    top : 70%;
    left : 15%;
    cursor: pointer;
    /* display: inline-block; */
    /* padding: 10px; */
    /* background-color: #f0f0f0; */
    border-radius: 5px;
    z-index: 200;
    user-select: none;
}
.icon_img {
position: absolute;
 width: 10vw;

}
.icon_link {
  position: absolute;

  width: 70%;
}
