.poster {
  position: absolute;
  z-index: 100;
}
.bg_image {
  position: absolute;
    width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}

#bg_img {
  position: absolute;
  opacity: 0;
  width: 50vw;
  transition: opacity 0.3s ease-in;
  z-index: 5;
}

.start_back {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.slide_show {
  position: absolute;
    top : 30%;
    left: 25%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.title {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}
.intro {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
/*  margin-top: -15%;*/

}
.calendar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: -5%;
}


.we {
  position: relative;
}

.wedding {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

}

/* 캐러셀 전체 구조  */
.carousel_main {
    width: 90vw; /* 이미지 크기 설정  */
    left: 5vw;
    top : 15%;
    height: auto;
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    user-select: none;
    z-index: 100;
}
.carousel_main2 {
    width: 90vw; /* 이미지 크기 설정  */
    left: 5vw;
    top : 55%;
    height: auto;
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    user-select: none;
    z-index: 100;
}
.carousel_wrapper {
    display: flex;
    transition: transform 1s;
}
.carousel_wrapper2 {
    display: flex;
    transition: transform 1s;
}
.carousel_slide {
    flex: 0 0 25vw; /* 이미지 크기 설정  */
    position: relative;
}

.carousel_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 캐러셀 사이드 버튼 */
.carousel_button_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel_button {
    width: 100px;
    height: 100px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.carousel_prev {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel_next {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel_prev2 {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel_next2 {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*
.comment {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: -15%;
}

.synopsis {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: -20%;
  margin-bottom: -15%;
}

.cast {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
}

.schedule {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: auto;
  margin-top: -15%;
}

.preview {
  position: relative;
  font-size: 1em;
}
.preview_img1 {
  position: absolute;
  top: 12.5%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
  font-family: "CODE Light";
  font-weight: bold;
}
.preview_img2 {
  position: absolute;
  top: 34%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
  font-family: "CODE Light";
  font-weight: bold;
}
.preview_img3 {
  position: absolute;
  top: 55.3%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
  font-family: "CODE Light";
  font-weight: bold;
}
.preview_img4 {
  position: absolute;
  top: 76.8%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
  font-family: "CODE Light";
  font-weight: bold;
}

.preview_bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}
*/
.notice {
  position: relative;
}
.notice_bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: -8%;
}
.notice_map {
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 100;
  width: 100%;
  height: auto;
}

.contact {
  position: relative;
}
.contact_bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: -8%;
}
.contact_call1 {
  position: absolute;
  top: 28.5%;
  left: 34.5%;
  z-index: 2;
  width: 4.5%;
  height: auto;
}
.contact_call2 {
  position: absolute;
  top: 28.5%;
  left: 75.1%;
  z-index: 2;
  width: 4.5%;
  height: auto;
}
.contact_copy1 {
  position: absolute;
  top: 48.5%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy2 {
  position: absolute;
  top: 55%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy3 {
  position: absolute;
  top: 61.5%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy4 {
  position: absolute;
  top: 76.5%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy5 {
  position: absolute;
  top: 83%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy6 {
  position: absolute;
  top: 89.5%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}

.thanks {
  position: relative;
}
.thanks_bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
}
.thanks_button {
  position: absolute;
  top: 55%;
  left: 25%;
  z-index: 2;
  width: 50%;
}
