html,
body{
width:100%;
overflow-x:hidden;
}
.poster {
  position: relative;
  z-index: 100;
}
.bg_image {
  position: absolute;
  top: 10vw;
  left: 12.5vw;
  width: 75vw;
  z-index: 2;
  height: auto;
}

#bg_img {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  z-index: 5;
}

.start_back {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.start_front {
  position: absolute;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


.slide_show {
  position: absolute;
    top : 14%;
    left: 12.5%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.invitation {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}
.intro {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: 0%;

}
.intro_div {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: -5%;

}

.intro_img_groom {
  position: absolute;
  top: 12vw;
  left: 5vw;
  width: 35vw;
  z-index: 5;
  height: auto;
}
.intro_img_bride {
  position: absolute;
  top: 72vw;
  left: 55vw;
  width: 35vw;
  z-index: 5;
  height: auto;
}


.calendar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: -1%;
}

.slide-wrap {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slide-box {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-top: 150px;
  transform: all 0.5s;
}

.slide-contents {
  width: 300px;
  text-align: left;
  margin: 0 auto;
}

.album{
  height: auto;
  width: 100%;
  overflow: hidden;
}
.show_dat{
  position: relative;
  display: flex;
  height: auto;
    width: 100%;
  transition: transform 0.5s;
}

.list {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  position: absolute;
  top : 15%;
    z-index: 100;
    transform: translate(0, 0);
}

.item {
  padding-right: 1rem;
  list-style: none;
  user-select: none;
}

.item:first-child {
  padding-left: 1rem;
}

.link {
  display: block;
  -webkit-user-drag: none;
}

.image {
  display: block;
  width: 70vw;
  height: auto;
  -webkit-user-drag: none;
}


.we {
  position: relative;
margin-top: -2%;
}

.wedding {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

}


.notice {
  position: relative;
}
.notice_bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: -8%;
}
.notice_map {
  position: absolute;
  top: 17.5%;
  left: 10%;
  z-index: 100;
  width: 100%;
  height: auto;
}

.contact {
  position: relative;
}
.contact_bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: -8%;
}
.contact_call1 {
  position: absolute;
  top: 28.5%;
  left: 34.5%;
  z-index: 2;
  width: 4.5%;
  height: auto;
}
.contact_call2 {
  position: absolute;
  top: 28.5%;
  left: 75.1%;
  z-index: 2;
  width: 4.5%;
  height: auto;
}
.contact_copy1 {
  position: absolute;
  top: 48.5%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy2 {
  position: absolute;
  top: 55%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy3 {
  position: absolute;
  top: 61.5%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy4 {
  position: absolute;
  top: 76.5%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy5 {
  position: absolute;
  top: 83%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}
.contact_copy6 {
  position: absolute;
  top: 89.5%;
  left: 65%;
  z-index: 2;
  width: 15%;
  height: auto;
}

.thanks {
  position: relative;
}
.thanks_bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
}
.thanks_button {
  position: absolute;
  top: 55%;
  left: 25%;
  z-index: 2;
  width: 50%;
}
