.slide-wrap {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slide-box {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-top: 150px;
  transform: all 0.5s;
}

.slide-contents {
  width: 300px;
  text-align: left;
  margin: 0 auto;
}
